<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" style="background-color: #000000; color: #ffffff">
    <div class="container">
        <br>
        <div calss="row">
            <div class="col-sm-4" style="text-align: center;"><h5>Copyright &copy; 2021</h5><h5>김동호(Dongho Kim)</h5></div>
            <div class="col-sm-4"><h4>대표자 소개</h4><p>저는 CLASS FLIX의 대표 김동호입니다. 홍익대학교 컴퓨터공학과에 재학중입니다.</p></div>
            <div class="col-sm-4"><h4 style="text-align: center;">SNS</h4>
                <div class="list-group">
                    <a href="https://www.youtube.com/channel/UCzPBLnZ88905X61WRQy9EpQ" class="list-group-item">유투브</a>
                    <a href="https://www.github.com/dongho108" class="list-group-item">깃허브</a>
                    <a href="https://ksabs.tistory.com/" class="list-group-item">블로그</a>
                </div>
            </div>
        </div>
    </div>
</footer>