<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<style type="text/css">
    .jumbotron {
        text-shadow: black 0.2em 0.2em 0.2em;
        color: red;
    }
    .lecture-images {
        width: 128px;
        height: 83px;
    }
    .panel-heading {
        font-weight: bold;
        background-color: white;
    }
    .lecture-title {
        font-weight: bold;
    }
    .star_rating {font-size:0; letter-spacing:-4px;}
    .star_rating a {
        font-size:22px;
        letter-spacing:0;
        display:inline-block;
        margin-left:5px;
        color:#ccc;
        text-decoration:none;
    }
    .star_rating a:first-child {margin-left:0;}
    .star_rating a.on {color:#E1BC3F;}
</style>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">
    <div class="jumbotron well">
        <h1 class="text-center">CLASS FLIX</h1>
        <p class="text-center" style="text-shadow: none">인강 추천좀</p>
    </div>

    <div class="card card-7 text-center">
        <div class="card-body">
            <div class="input-group input--medium">
                <label class="label">사이트 이름</label>
                <input id="siteName" class="input--style-1" th:value="${condition.siteName}" type="text" placeholder="" name="siteName">
            </div>
            <div class="input-group input--large">
                <label class="label">강의 이름</label>
                <input id="lectureName" class="input--style-1" th:value="${condition.lectureName}" type="text" placeholder="" name="lectureName">
            </div>
            <div class="input-group input--medium">
                <label class="label">강의자 이름</label>
                <input id="teacherName" class="input--style-1" th:value="${condition.teacherName}" type="text" placeholder="" name="teacherName">
            </div>
            <div class="input-group input--medium">
                <label class="label">별 점</label>
                <div class="input-group-icon js-number-input">
                    <div class="icon-con">
                        <span class="plus">+</span>
                        <span class="minus">-</span>
                    </div>
                    <input id="ratingGoe" class="input--style-1 quantity" th:value="|${condition.ratingGoe}점 이상만|" type="text" name="guests" value="1점 이상만">
                </div>
            </div>
            <button th:onclick="goSearch([[${page.sortParam}]]);" class="btn-submit" type="submit">search</button>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">IT 분야 인기 강의</div>
            <div class="panel-body" th:unless="${#lists.size(lectures) != 0}">
                검색결과가 없습니다.
            </div>
            <div class="panel-body" th:if="${#lists.size(lectures) != 0}">
                <div class="text-right">
                    <a th:unless="${#strings.equals(page.sortParam, 'createdDate,DESC')}" class="btn btn-sm btn-default" role="button"
                       th:href="@{/(page=${page.curPage},sort='createdDate,DESC')}" href="">최신순</a>
                    <a th:if="${#strings.equals(page.sortParam, 'createdDate,DESC')}"
                       class="btn btn-sm btn-default disabled" role="button">최신순</a>

                    <a th:unless="${#strings.equals(page.sortParam, 'lectureName,ASC')}" class="btn btn-sm btn-default" role="button"
                       th:href="@{/(page=${page.curPage},sort='lectureName,ASC')}" href="">이름순</a>
                    <a th:if="${#strings.equals(page.sortParam, 'lectureName,ASC')}"
                       class="btn btn-sm btn-default disabled" role="button" href="">이름순</a>
                </div>
                <div class="col-md-3" th:each="lecture : ${lectures}">
                    <a th:href="@{/lectures/{lectureId}(lectureId=${lecture.id})}">
                    <img class="lecture-images" th:src="${lecture.representImagePath}"
                         src="/images/springInstroduction.png" alt="사진없음">
                    <h5 th:text="${lecture.lectureName}" class="lecture-title">강의제목</h5>
                        <p class="star_rating">
                            <a th:if="${lecture.averageRating != 0}" class="on"
                               th:each="num : ${#numbers.sequence(0, lecture.averageRating-1)}">★</a>
                            <a th:unless="${lecture.averageRating != 0}">★★★★★</a>
                        </p>
                    </a>
                </div>
            </div>
            <div class="text-center" th:if="${#lists.size(lectures) != 0}">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li th:if="${page.isPrev()}" class="page-item"><a th:onclick="goPage([[${page.curPage-1}]],[[${page.sortParam}]]);" class="page-link">Prev</a></li>
                        <li th:unless="${page.isPrev()}" class="page-item disabled"><a class="page-link">Prev</a></li>
                        <li class="page-item" th:each="num, index : ${#numbers.sequence(page.startPage, page.endPage)}">
                            <a th:if="${#strings.equals(page.curPage+1, num)}" th:text="${num}" class="page-link" style="background-color: #eeeeee">1</a>
                            <a th:unless="${#strings.equals(page.curPage+1, num)}" th:onclick="goPage([[${index.current-1}]],[[${page.sortParam}]]);" th:text="${num}" class="page-link">1</a>
                        </li>
                        <li th:if="${page.isNext()}" class="page-item"><a th:onclick="goPage([[${page.curPage+1}]],[[${page.sortParam}]]);" class="page-link">Next</a></li>
                        <li th:unless="${page.isNext()}" class="page-item disabled"><a class="page-link">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Jquery JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/jquery-validate/jquery.validate.min.js"></script>
<script src="/vendor/bootstrap-wizard/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/js/search.js"></script>
<script>
    function getSearchParam(searchParam) {
        var siteName = document.getElementById('siteName').value;
        var lectureName = document.getElementById('lectureName').value;
        var teacherName = document.getElementById('teacherName').value;
        var ratingGoe = document.getElementById('ratingGoe').value.substring(0,1);

        if (siteName !== "") {
            searchParam += "&siteName=" + siteName;
        }
        if (lectureName !== "") {
            searchParam += "&lectureName=" + lectureName;
        }
        if (teacherName !== "") {
            searchParam += "&teacherName=" + teacherName;
        }
        if (ratingGoe !== "") {
            searchParam += "&ratingGoe=" + ratingGoe;
        }

        return searchParam;
    }

    function goSearch(sortParam) {
        var param = "/?";
        param += "sort=" + sortParam;
        param = getSearchParam(param);
        location.replace(param);
        // return searchParam;
    }

    function goPage(page, sortParam) {
        var param = "/?";
        param += "page=" + page;
        param += "&sort=" + sortParam;
        param = getSearchParam(param);

        location.replace(param);
    }
</script>

</body>
</html>