<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
    .container-center {
        max-width: 560px;
    }
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container container-center">
    <div class="page-header">
        <h1 class="text-center" th:text="#{page.addLecture}">강의등록</h1>
    </div>
    <form role="form" action="/lectures/new" th:object="${lectureForm}"
          method="post", enctype="multipart/form-data">
        <div class="form-group">
            <label th:for="lectureName" th:text="#{label.lecture.name}">강의제목</label>
            <input type="text" th:field="*{lectureName}" class="form-control" placeholder="강의제목을 입력하세요"
                   th:class="${#fields.hasErrors('lectureName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('lectureName')}" th:errors="*{lectureName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="teacherName" th:text="#{label.lecture.teacher}">강의자 이름</label>
            <input type="text" th:field="*{teacherName}" class="form-control" placeholder="강의자를 입력하세요"
                   th:class="${#fields.hasErrors('teacherName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('teacherName')}" th:errors="*{teacherName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="content" th:text="#{label.lecture.content}">강의 내용 소개</label>
            <textarea th:field="*{content}" class="form-control" placeholder="강의내용을 입력하세요"> </textarea>
        </div>
        <div class="form-group">
            <label th:for="representImage" th:text="#{label.lecture.representPicture}">강의 대표사진 업로드</label>
            <input type="file" multiple="true" th:field="*{image}" accept="image/*" class="form-control" placeholder="강의 대표사진을 업로드해주세요">
        </div>
        <div class="form-group">
            <label th:for="siteName" th:text="#{label.lecture.siteName}">강의 사이트 이름</label>
            <input type="text" th:field="*{siteName}" class="form-control" placeholder="강의 사이트의 이름을 입력해주세요">
        </div>
        <div class="form-group">
            <label th:for="uri" th:text="#{label.lecture.siteUrl}">강의 사이트 주소</label>
            <input type="url" th:field="*{uri}" class="form-control" placeholder="강의 사이트의 주소를 입력해주세요">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">등록하기</button>
        </div>

    </form>
    <br/>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer" />
</body>
</html>