<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
    .star_rating {font-size:0; letter-spacing:-4px;}
    .star_rating a {
        font-size:22px;
        letter-spacing:0;
        display:inline-block;
        margin-left:5px;
        color:#ccc;
        text-decoration:none;
    }
    .star_rating a:first-child {margin-left:0;}
    .star_rating a.on {color:#E1BC3F;}
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    강의소개
                </div>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="col-md-6" >
                        <div class="media-left">
                        <a href="">
                            <img src="/images/springInstroduction.png" class="img-responsive" alt="">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="media-body">
                        <h4 th:text="${lectureDto.getLectureName()}">강의이름</h4>
                        <h4 th:text="${lectureDto.getTeacherName()}">강의자</h4>
                        <p class="star_rating">
                            <a th:if="${lectureDto.getAverageRating() != 0}" class="on"  th:each="num : ${#numbers.sequence(0, lectureDto.getAverageRating()-1)}">★</a>
                            <a th:unless="${lectureDto.getAverageRating() != 0}">★★★★★</a>
                        </p>
                        <h4 th:text="|${lectureDto.getReviewNum()}개의 수강평|">n개의 수강평</h4>
                        <h4 th:href="@{${lectureDto.getUri()}}" th:text="${lectureDto.getSiteName()}" target='_blank'>원래사이트</h4>
                        <a th:href="@{${lectureDto.getUri()}}" th:text="${lectureDto.getUri()}" target='_blank'>원래사이트url</a>
                    </div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
                <div th:text="${lectureDto.getContent()}">content </div>
            </div>

        </div>
    </div>
</div> <!-- /container -->

<!--리뷰조회-->
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>회원이름</th>
                <th>별점</th>
                <th>후기</th>
                <th></th>
            </tr>
            </thead>
            <tbody><tr th:if="${not #strings.isEmpty(reviewDtos)}" th:each="reviewDto : ${reviewDtos}">
                <td th:text="${reviewDto.getMemberName()}"></td>
                <td>
                    <p class="star_rating">
                        <a th:if="${reviewDto.getRating() != 0}" class="on" th:each="num : ${#numbers.sequence(0, reviewDto.getRating()-1)}">★</a>
                    </p>
                </td>
                <td th:text="${reviewDto.getContent()}"></td>
                <td>
                    <a href="#" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<!--    리뷰등록-->
    <hr>
    <form role="form" method="post" th:object="${reviewForm}">
        <div class="form-group">
            <label for="formMemberSelect">회원선택</label>
            <select id="formMemberSelect" th:field="*{memberName}">
                <option value="">==회원선택==</option>
                <option th:each="memberDto : ${memberDtos}" th:text="${memberDto.getUserName()}" th:value="${memberDto.getUserName()}">동호</option>
<!--                <option th:text="" value="">영한</option>-->
<!--                <option value="">동영</option>-->
            </select>
        </div>
        <div class="form-group">
            <label for="formPassword">비밀번호입력</label>
            <input type="password" id="formPassword" th:field="*{password}">
        </div>
        <div class="form-group">
            <label for="formStarRating">별점</label>
            <select id="formStarRating" th:field="*{rating}">
                <option value="1">★</option>
                <option value="2">★★</option>
                <option value="3">★★★</option>
                <option value="4">★★★★</option>
                <option value="5" selected>★★★★★</option>
            </select>
        </div>
        <div class="form-group">
            <label>후기: </label>
            <textarea class="form-control" rows="5" id="commentContent" placeholder="최대 25자까지 입력 가능합니다."
                      name="commentContent" maxlength="255" th:field="*{content}"></textarea>
            <button type="submit" class="btn-primary pull-right">등록</button>
        </div>
    </form>

</div>
<div th:replace="fragments/footer :: footer" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>