<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
    .star_rating {font-size:0; letter-spacing:-4px;}
    .star_rating a {
        font-size:22px;
        letter-spacing:0;
        display:inline-block;
        margin-left:5px;
        color:#ccc;
        text-decoration:none;
    }
    .star_rating a:first-child {margin-left:0;}
    .star_rating a.on {color:#E1BC3F;}
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    강의소개
                </div>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="col-md-6" >
                        <div class="media-left">
                        <a href="">
                            <img th:src="${lectureDto.getImagePath()}" src="/images/springInstroduction.png" class="img-responsive" alt="">
                        </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="media-body">
                        <h4 th:text="${lectureDto.getLectureName()}">강의이름</h4>
                        <h4 th:text="${lectureDto.getTeacherName()}">강의자</h4>
                        <p class="star_rating">
                            <a th:if="${lectureDto.getAverageRating() != 0}" class="on"  th:each="num : ${#numbers.sequence(0, lectureDto.getAverageRating()-1)}">★</a>
                            <a th:unless="${lectureDto.getAverageRating() != 0}">★★★★★</a>
                        </p>
                        <h4 th:text="|${lectureDto.getReviewNum()}개의 수강평|">n개의 수강평</h4>
                        <a th:href="@{${lectureDto.getUri()}}" th:text="${lectureDto.getSiteName()}" target='_blank'>원래사이트</a>
                    </div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
                <div th:text="${lectureDto.getContent()}">content </div>
            </div>

        </div>
    </div>
</div> <!-- /container -->

<!--리뷰조회-->
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>회원이름</th>
                <th>별점</th>
                <th>후기</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody><tr th:if="${not #strings.isEmpty(reviewDtos)}" th:each="reviewDto : ${reviewDtos}">
                <td th:text="${reviewDto.getMemberName()}"></td>
                <td>
                    <p class="star_rating">
                        <a th:if="${reviewDto.getRating() != 0}" class="on" th:each="num : ${#numbers.sequence(0, reviewDto.getRating()-1)}">★</a>
                    </p>
                </td>
                <td th:text="${reviewDto.getContent()}"></td>
                <td>
<!--                    <a class="btn btn-primary" role="button" th:data-param1="${reviewDto.getReviewId()}" th:data-param2="${reviewDto.getContent()}"-->
<!--                       th:onclick="setReviewEdit(this.getAttribute('data-param1'), this.getAttribute('data-param2'));"-->
<!--                       data-target="#modal" data-toggle="modal">수정</a>-->
                    <a class="btn btn-primary" role="button"
                       th:onclick="setReviewEdit([[${reviewDto.getReviewId()}]], [[${reviewDto.getContent()}]]);"
                       data-target="#modal" data-toggle="modal">수정</a>
                </td>
                <td>
                    <form id="reviewRemoveForm" th:action="@{/lectures/{lectureId}/removeReview/{reviewId}(lectureId=${lectureId}, reviewId=${reviewDto.getReviewId()})}" method="post">
                        <button type="button" onclick="removeCheck()" class="btn btn-danger" role="button">삭제</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

<!--    리뷰등록-->
    <hr>
    <form role="form" method="post" th:object="${reviewForm}">
        <div class="form-group col-md-3">
            <label for="formMemberSelect">회원선택</label>
            <select id="formMemberSelect" th:field="*{memberName}" class="form-control">
                <option value="" disabled>==회원선택==</option>
                <option th:each="memberDto : ${memberDtos}" th:text="${memberDto.getUserName()}" th:value="${memberDto.getUserName()}">동호</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="formStarRating">별점</label>
            <select id="formStarRating" th:field="*{rating}" class="form-control">
                <option value="1">★</option>
                <option value="2">★★</option>
                <option value="3">★★★</option>
                <option value="4">★★★★</option>
                <option value="5" selected>★★★★★</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label>후기: </label>
            <textarea class="form-control" rows="5" id="commentContent" placeholder="후기를 입력해 주세요"
                      name="commentContent" maxlength="255" th:field="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary pull-right" role="button">등록</button>
    </form>
</div>
<br>
<br>
<div th:replace="fragments/footer :: footer" />

<div class="row">
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="model-content" style="background-color: white;">
                <div class="modal-header">
                    리뷰 수정
                </div>
                <div class="modal-body">
                    <form name = "reviewEdit" th:object="${reviewForm}">
                        <label>별점</label>
                        <select th:field="*{rating}">
                            <option value="1">★</option>
                            <option value="2">★★</option>
                            <option value="3">★★★</option>
                            <option value="4">★★★★</option>
                            <option value="5" selected>★★★★★</option>
                        </select>
                        <label>후기: </label>
                        <textarea id="reviewEdit" class="form-control" rows="5" placeholder="최대 50자까지 입력 가능합니다."
                                  name="commentContent" maxlength="255" th:field="*{content}"></textarea>
                        <button onclick="reviewEditForm()" type="submit" class="btn btn-primary" role="button">수정완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script th:inline="javascript" language="JavaScript">
    var updateReviewId;
    var lectureId = [[${lectureId}]];

    function setReviewEdit(id, content) {
        updateReviewId = id;
        document.getElementById('reviewEdit').value = content;
    }

    function reviewEditForm() {
        const theForm = document.reviewEdit;
        theForm.method = "post";
        theForm.action = lectureId+"/updateReview/"+updateReviewId;
        theForm.submit();
    }

    function removeCheck() {
        if (confirm("정말 삭제하시겠습니까??") === true){    //확인
            document.getElementById("reviewRemoveForm").submit();
        }else{   //취소
            return false;
        }
    }

</script>
</body>
</html>